// Color
$c0-text: #333;
$c0-white: #fff;
$c1-text: #9da1a4;

// Background color
$bg-black: #353a40;
$bg-blue: #007afd;
$bg-carousel: #e8ecef;

// Height
$header-height: 6rem;
$carousel-height: 24rem;

// Font size
$fs-sm: 1.4rem;
$fs-regular: 1.6rem;
$fs-2xl: 2rem;
$fs-3xl: 3rem;
$fs-4xl: 4rem;
$fs-5xl: 5rem;

// Font weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
