@import "../Helpers/mixin";
@import "../Helpers/variable";
@import "../Components/buttons";

.card {
  border-top: none !important;
  border-bottom: none !important;
  .card__item {
    text-align: center;

    .card__info {
      padding: 1rem 1.6rem;
      h2 {
        @include styleText($fs-regular, $fw-medium, $c0-text);
      }

      p {
        @include styleText($fs-sm, $fw-normal, $c1-text);
      }

      .card__button {
        @extend .button;
      }
    }
  }
}
